body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #d5e1ef;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  align-self: center;
  padding: 16px 0px 40px 0px;
  gap: 24px;
  border-radius: 20px;
  background-color: white;
}

#qr {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 131px;
  padding: 0px 16px 0px 16px;
  font-family: "Outfit";
  gap: 16px;
}

span {
  text-align: center;
}

#top-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  color: #1f314f;
}

#bottom-text {
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 140%;
  color: #68778d;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
